# Database settings
DB_ROOT_PASSWORD=root
DB_NAME=logs
DB_USER=logs
DB_PASSWORD=logs
DB_PORT=3306

# SMTP settings
SMTP_HOST=smtp.example.com
SMTP_PORT=587
ENCRYPTION=STARTTLS
SMTP_USER=user@example.com
SMTP_PASSWORD=change_me
ALERT_RECIPIENT=ops@example.com

# Logging & Worker settings
WORKER_THREADS=3
WORKER_POLLING_INTERVAL=60
LOG_LEVEL="INFO"
LOG_DIR=./logs 
LOG_MAX_BYTES=5242880 
LOG_BACKUP_COUNT=3  

# Load testing & Mocking
# To disable SMTP completely, set to true
DISABLE_SMTP=false

# To use MailHog instead of Gmail, uncomment lines below and comment out Gmail settings above
# SMTP_HOST="mailhog"
# SMTP_PORT=1025
# ENCRYPTION="NONE"
# SMTP_USER=""
# SMTP_PASSWORD=""