---
extends: default

rules:
  line-length:
    max: 120  # Увеличиваем лимит, так как Docker-команды бывают длинными
    level: error
  document-start:
    present: true
  trailing-spaces:
    level: error